<div class="text-center mt-3">
    <h2>Welcome to a simple OSINT tool</h2><br>

  <% if Current.user %>
      <div class="register w-100">
        <h3 >Welcome <%= Current.user.email %> </h3>
          <% if Current.user.has_role? :admin %>
              <h3 class="text-success f">You are an admin </h3>
           <% end %>
      </div>   

  <% else %> 
      <div class="register">
        <h3 class="text-center mb-4">Login to use the app </h3>
        <a href="login" >  
          <button type="submit" class="button1">Login
          </button>
        </a>
      </div>   

  <% end %>


